// footer styles
.footer {
    background-color: black;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    a {
        font-family: 'Rock Salt', cursive;
        color: red;
    }
}