// this file is for global styles
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

@media screen and (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}
.uppercase {
    text-transform: uppercase;
}
.no-style-list {
    list-style: none
}