<div class="hero-img">
</div>
<div class="container" id="content">
    <div class="col-md-12 section" id="about">
        <h1 class="uppercase">Play what you like, love what you learn</h1>
        <br>
        
        <div class="row">
            <div class="col-md-6">
                <p>No superstition. Is there someone to be trusted. Can't believe the things that they said. With my mind. It's killing me. No paradise. 'Cause I don't need to see another minute. Oh there's insufficient evidence. What do they do with your soul. Gotta see my rock 'n' roll doctor. We'll maybe meet again in someone's vision. There is no warning. Won't be no future. </p>
                <p>We just fade to black. Gotta see my rock 'n' roll doctor. Of what just might come after. My spirit doesn't need them any longer. Well I'm sick and tired of hearing 'bout the world and its hang ups. There is no time. We just fade to black. Gotta see my rock 'n' roll doctor. Of what just might come after. My spirit doesn't need them any longer. Well I'm sick and tired of hearing 'bout the world and its hang ups. There is no time</p>
            </div>
            <div class="col-md-6">
                <img src="img/3.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <h1>What you'll learn:</h1>
        <ul class="no-style-list">
            <li>Chord knowledge and strumming</li>
            <li>Guitar solos and improvising</li>
            <li>Playing with the rhythm</li>
            <li>Playing by ear</li>
            <li>Transcribing songs</li>
            <li>Songwriting</li>
            <li>Music Theory</li>
            <li>Recording, gigging, and equipment</li>
        </ul>
        <p>If there is anything else you'd like to learn feel free to get in touch with me and I'll be happy to help</p>
    </div>
    <div class="col-md-12 section" id="testimonials">
        <h1 class="upper">What my students say:</h1>
        <blockquote class="blockquote">
                <p>Wanted a woman, never bargained for you. I'm gonna give you my love. . Been dazed and confused . You need coolin', baby, I'm not foolin', . But I just couldn't tell her so, no, no, no!. She was pretty from New York City. Soul of a woman was created below, yeah. You hurt and abuse, . Lotsa people talkin', . (1409607566242). for so long, it's not true. we can watch the white doves go. Well on a train I met a dame.</p>
                <footer>- Person</footer>
        </blockquote>
        <blockquote class="blockquote">
                <p>Wanted a woman, never bargained for you. I'm gonna give you my love. . Been dazed and confused . You need coolin', baby, I'm not foolin', . But I just couldn't tell her so, no, no, no!. She was pretty from New York City. Soul of a woman was created below, yeah. You hurt and abuse, . Lotsa people talkin', . (1409607566242). for so long, it's not true. we can watch the white doves go. Well on a train I met a dame.</p>
                <footer>- Person</footer>
        </blockquote>
        <blockquote class="blockquote">
                <p>Wanted a woman, never bargained for you. I'm gonna give you my love. . Been dazed and confused . You need coolin', baby, I'm not foolin', . But I just couldn't tell her so, no, no, no!. She was pretty from New York City. Soul of a woman was created below, yeah. You hurt and abuse, . Lotsa people talkin', . (1409607566242). for so long, it's not true. we can watch the white doves go. Well on a train I met a dame.</p>
                <footer>- Person</footer>
        </blockquote>
    </div>
    <div class="col-md-12 section" id="calendar">
        <h1>Schedule Your Appointment</h1>
        <div class="col-md-12">
            <center>
                    <iframe src="https://calendar.google.com/calendar/embed?src=chokurra%40gmail.com&ctz=America%2FNew_York" style="border: 0;" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                    <br>
                    <a href="mailto:testin@testing.com"><button class="btn btn-warning">Schedule your appointment</button></a>
            </center>
                
        </div>
        
    </div>
</div>