<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="nav-top">
    <a class="navbar-brand" href="#">
      <div class="logo">
        <span>Customs</span>
        <span>Forge</span>
        <span>Ignition4</span>
      </div>
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-userContainer">
        <span class="nav-userName no-mobile">CustomsForgeUser</span>
        <div class="nav-userPhoto">
          <div id="nav-userNotification">0</div>
        </div>
        <a class="nav-gear" href=""><i class="fas fa-cog fa-lg"></i></a>
      </li>
    </ul>
    <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-music"></i> SEARCH</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item active" href="#"><i class="fas fa-search"></i> SEARCH</a>
                <a class="dropdown-item" href="#"><i class="fas fa-book"></i> BROWSE</a>
                <a class="dropdown-item" href="#"><i class="fas fa-inbox"></i> COLLECTION</a>
                <a class="dropdown-item" href="#"><i class="fas fa-arrow-up"></i> SAVED</a>
                <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> ARTISTS</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-folder"></i> FORUMS</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-edit "></i> CREATORS</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><i class="fas fa-upload"></i> UPLOADED CDLC</a>
                <a class="dropdown-item" href="#"><i class="fas fa-book"></i> SUBMIT</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-wrench "></i> TOOLS</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="http://cfmanager.com"><i class="fas fa-music "></i> CSM</a>
                <a class="dropdown-item" href="https://www.rscustom.net/"><i class="fas fa-cogs"></i> ROCKSMITH TOOLKIT</a>
                <a class="dropdown-item" href="http://ignition.customsforge.com/eof"><i class="fas fa-fire "></i> EDITOR ON
                  FIRE</a>
                <a class="dropdown-item" href="http://customsforge.com/index.php/forum/180-custom-game-toolkit/"><i class="fas fa-gamepad "></i>
                  CUSTOM GAME TOOLKIT</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> STATS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fab fa-paypal"></i> DONATE</a>
            </li>
          </ul>

  </div>
</nav>
