<div class="container header-nav">
  <div class="row">
    <div class="social-links col-md-10 offset-md-1">
      <ul class="text-center">
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fas fa-calendar-alt"></i></li>
      </ul>
    </div>
  </div>
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-md-1 text-left name">Name</div>
      <div class="col-md-11 nav-links">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#calendar">Calendar</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>